# https://platform.openai.com/account/api-keys
OPENAI_API_KEY=

# sign up for a free tier account at https://www.pinecone.io/
PINECONE_API_KEY=
# will be a location, e.g 'us-west4-gcp-free'
PINECONE_ENV=   

# https://developer.twitter.com
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=